COMPOSE_PROJECT_NAME=wjecoffeetaste
DB_NAME=coffeetaste
DB_USER=coffeetaste
DB_PASSWORD=coffeetaste_pwd
DB_PORT=57601
JWT_SECRET=change_me_to_a_long_random_string
FRONTEND_PORT=28601
BACKEND_PORT=29601

